html{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  
}
body{
  padding-left: 0 !important;
  /* overflow: auto !important; */
}

/* Inside your global CSS or specific CSS file */

/* Order styles */
.order-view {
  margin: 2rem;
}

.order-view h6 {
  text-align: center;
}

.order-view table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

.order-view th, .order-view td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.order-view th {
  background-color: #f2f2f2;
}

.order-details {
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: #f9f9f9;
}


/* OverallStat */

/* styles.css */
.container {
  padding: 16px;
  background-color: none;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.statBox {
  padding: 16px;
  background-color: #7a7878;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(4, 36, 84, 0.1);
  margin-bottom: 10px;
}

.title {
  margin-bottom: 16px;
}

.button {
  margin-top: 16px;
}

/* media */
